@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Source+Sans+Pro:wght@300&family=Varela+Round&display=swap');

:root{
    --blue: #3c6382;
    --dark-blue: #0a3d62;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .3s cubic-bezier(.38, 1.15, .7,1.12);
}

*::selection{
    background: var(--dark-blue);
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

section{
    min-height: 100vh;
    padding: 1rem 5%;
    padding-top: 4rem;
}

.heading{
    text-align: center;
    color: var(--blue);
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: normal;
    padding: 1rem;
}

header{
    width: 100%; height: 6.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0; left: 0;
    z-index: 1000;
    padding: 2rem;
    background: #1f2326;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.akira-outlined-blue {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #4e27af;
  }

.btn{
    display: inline-block;
    padding: .7rem .7rem;
    color: #fff;
    background: black;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
    margin-top: 1rem;
    font-size: 1.7rem;
}

header .logo{
    height: 3.2rem;
    width: 6.1rem;
}

header .navbar a{
    font-size: 15px;
    margin: 1rem 1.5rem;
    font-weight: 600; 
    color: white;
}

header .navbar a:hover{
    color: #0d6efd;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header.sticky{
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

#menu{
    font-size: 3rem;
    color: var(--blue);
    cursor: pointer;
    display: none;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.home .image{
    flex: 1 1 40rem;   
}

.home .image img{
    width: 100%;
}

.home .content{
    flex: 1 1 40rem;
}

.home .content h3{
    color: #666;
    font-size: 5rem;
}

.home .content p{
    color: #aaa;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.home .content .title{
    -webkit-text-stroke: 1px black;
    font-size: 5rem;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Varela Round', sans-serif;
}

.prevent{
    background:#fff;
}

.prevent .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}

.prevent .row .image{
    flex:1 1 37rem;
    height:35rem;
    text-align: center;
}

.prevent .row .image img{
    height:100%;
    width:100%;
    object-fit: cover;
    border: 5px solid purple;
}

.prevent .row .content{
    padding:2rem 0;
    flex:1 1 37rem;
}

.prevent .row .content .heading{
    color:black;
    text-align: start;
    font-size: 5rem;
    text-shadow: .3rem .2rem 0 rgba(17, 16, 16, 0.5);
    border-color: 2px purple;
}


.prevent .row .content p{
    font-size: 1.3rem;
    color:#aaa;
    padding:1rem 0;
}

.prevent .row .content a{
    margin-right: 2rem;
    background: linear-gradient(to right,purple, blue);
    box-shadow: 3px 3px 3px 1px rgb(0 0 0 / 69%)
}

.prevent .row .content a:hover{
    transform: scale(1.1);
}

.prevent .row .content a img{
    height: 3rem;
    width: 7rem;
}

.prevent .row .content h1 span{
    color: #4e27af;
}

/* home 2 */

.prevent1{
    background:#fff;
    margin-top:0;
    padding-top:0;
}

.prevent1 .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}

.prevent1 .row .image{
    flex:1 1 37rem;
    height:35rem;
    text-align: center;
    margin-right: 1rem;
}

.prevent1 .row .image img{
    height:100%;
    width:90%;
    object-fit: cover;
}

.prevent1 .row .content{
    padding:2rem 0;
    flex:1 1 37rem;
}

.prevent1 .row .content .heading{
    color:black;
    text-align: start;
    font-size: 5rem;
    text-shadow: .3rem .3rem 0 rgba(14, 13, 13, 0.5);
    border-color: 2px purple;
    text-transform: bolder;
}


.prevent1 .row .content p{
    font-size: 1.3rem;
    color:#aaa;
    padding:1rem 0;
}

.prevent1 .row .content a{
    margin-right: 2rem;
    background: black;
    box-shadow: 3px 3px 3px 1px rgb(0 0 0 / 69%)
}

.prevent1 .row .content a:hover{
    transform: scale(1.1);
}

.prevent1 .row .content a img{
    height: 3rem;
    width: 7rem;
}

.prevent1 .row .content h1 span{
    color: #4e27af;
}

/* home3 */

.prevent3{
    background:#fff;
}

.prevent3 .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}

.prevent3 .row .image{
    flex:1 1 37rem;
    height:35rem;
    text-align: center;
}

.prevent3 .row .image img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.prevent3 .row .content{
    padding:2rem 0;
    flex:1 1 37rem;
}

.prevent3 .row .content .heading{
    color:black;
    text-align: start;
    font-size: 6rem;
    text-shadow: .3rem .2rem 0 rgba(17, 17, 17, 0.5);
    border-color: 2px purple;
    font-weight: 1200;
}


.prevent3 .row .content p{
    font-size: 1.3rem;
    color:rgb(110, 102, 102);
    padding:1rem 0;
}

.prevent3 .row .content a{
    margin-right: 2rem;
    align-items: center;
    background-color: #a743f3;
    box-shadow: 3px 3px 3px 1px rgb(0 0 0 / 69%)
}

.prevent3 .row .content a:hover{
    transform: scale(1.1);
}

.prevent3 .row .content a img{
    height: 3rem;
    width: 7rem;
}

.prevent3 .row .content h1 span{
    color: #4e27af;
}

.prevent3 .row .content .purple{
    color: #4e27af;
}

.our-friend .heading{
    font-size: 5rem;
    margin: 2rem 9%;
    margin-bottom: 4rem;
    padding: .7rem 1rem;
    color: black;
    text-shadow: .3rem .2rem 0 rgba(17, 17, 17, 0.5);
}

.our-friend h1 span{
    color: #4e27af
}

.our-friend .image{
    display: flex;
    justify-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
}

.footer{
    background: #121213;
    min-height: auto;
}

.footer .super-container{
    display: flex;
    flex-wrap: wrap;
}

.footer .super-container .container{
    flex:1 1 45rem;
    margin : 2rem;
}

.footer .super-container .container .image{
    height: 10rem;
    width: 15rem;
    margin-bottom: 4rem;
}

.footer .super-container .container .des{
    color: #fff;
    border-bottom: 4rem;
}

.footer .super-container .box ul{
    color: #fff;
    justify-content: center;
    margin-right: 8rem;
    font-size: 1.3rem;
    line-height: 2.9;
}

.footer .super-container .new_container .box{

}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

}

@media (max-width:768px){

    #menu{
        display: block;
    }

    header .navbar{
        position: fixed;
        top:8rem; left:-120%;
        height: 100%;
        width:100%;
        background:#eee;
        border-top: .2rem solid rgba(0,0,0,.1);
    }

    header .navbar ul{
        flex-flow: column;
        padding:2rem;
    }

    header .navbar ul li{
        text-align: center;
        width:100%;
        margin:1rem 0;
    }

    header .navbar ul li a{
        display: block;
        padding:1rem;
    }

    header .navbar ul li a.active,
    header .navbar ul li a:hover{
        padding:1rem;
        background:var(--red);
        color:#fff;
        border:none;
        border-radius: 5rem;
    }

    .fa-times{
        transform: rotate(180deg);
    }

    header .navbar.nav-toggle{
        left:0;
    }

    .home .content{
        text-align: center;
    }

    .prevent .row:last-child{
        flex-flow: column-reverse;
    }

}

@media (max-width:500px){

    html{
        font-size: 50%;
    }

    section{
        padding:0 3%;
        padding-top: 9rem;
    }

}
